/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% */

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}
#top-box
{
	height:auto;
	max-width:100%;
}
#navbar-left
{	
	height:40px;
	width:51%;
	float:left;
	background: #2b69ab;
	height:45px;
	z-index:4;
	font-family: sans-serif;
}
#navbar-right
{	
	width:49%;
	float:right;
	background: #2b69ab;
	height:45px;
	right: 0;
	z-index:4;
	font-family:  sans-serif;
}
#navbar-left  li:first-child
{
	padding-left:1.4641288433382137628111273792094%;
	
}
#navbar-left li
{	
	float:left;
	list-style:none;
	padding: 0.6em 0em;
	padding-left: .27em;
}
#navbar-left li> a
{
	color:white;
	text-decoration:none;
	font-weight:bold;
	padding: 0.9em 0em;
	padding-left:.35em;
	padding-right:.35em;
}
#navbar-right p
{	
	color:white;
	text-decoration:none;
	font-weight:bold;
	padding: 0.7em 0em;
	padding-left:.35em;
	padding-right:.5em;	
}

#navbar-right p a
{	
	color:white;
}
#navbar-right li
{	
	float:right;
	list-style:none;	
}
#navbar-left li a:hover
{
 background-color:white ;
 color:#a6d138;
}
#facebook
{
	padding:6.5px 2.5px;
	height:auto;
	width:30px;
}
#google
{	
	padding:5.5px 2.5px;
	height:auto;
	width:32px;
}
